{% extends 'journing/base.html'%}
{% load static %}

{% block headcontent%}
<link rel='stylesheet' href="{% static 'journing/styles/comments.css'%}">
{% endblock headcontent%}


{% block content%}
{% comment %} heading {% endcomment %}
<div class='create-comment'> 
    <a href="{% url 'journing:sights_create' pk slug %}"> 
        Write review 
    </a> 
</div>

{% comment %} main comments display {% endcomment %}
<main class='comment-section'>

{% comment %} loop through every comment relating to the object {% endcomment %}
{% for c in comments%}
<div class='comment'> 

    <div class='comment-user'>  
        {% if user.id != c.user.id %}
        <a href={% url "userdata:peek" c.user.id%}>
            <img src="{{c.user.profile.profile_pic.url}}" >
        </a>
        {%else%}
            <img src="{{c.user.profile.profile_pic.url}}" >
        {% endif %}
       {{c.user.username}}
    </div>

    <div class='comment-rating'>

    <div><h1>{{c.rating}}</h1>/5</div>

    {% if c.comment|length > 300%}
    <a href="{% url 'journing:sight_comment_detail'%}?q={{c.id}}"><div>{{c.comment|slice:"300"}} . . .</div></a>
    {% else %}
    <a href="{% url 'journing:sight_comment_detail'%}?q={{c.id}}"><div>{{c.comment}}</div></a>
    {% endif %}

{% comment %} ensures only user who posted the comment can delete or edit the said comment {% endcomment %}
    {% if user == c.user%}
    <div class='comment-edit'>
        <a href="{% url 'journing:sights_update' view.kwargs.pk view.kwargs.slug c.id %}"><img src="{% static 'journing/icons/edit.png'%}" ></a>
    </div>

    {%endif%}
    </div>

    <div class='comment-timestamp'>
{% comment %} ensures only user who posted the comment can delete or edit the said comment {% endcomment %}
        {% if user == c.user%}
        <div id='pop-up-confirm-js'onclick="pop_up_confirmation('{{c.id}}','{{view.kwargs.pk}}', '{{view.kwargs.slug}}')"> <img src="{% static 'journing/icons/delete.png'%}"> </div>
        {%endif%}
        <h4>{{c.created_on}}</h4>
    </div>

</div>

{% endfor %}
</main>
{% endblock content%}

{% block jscontent %}
<script src="{% static 'journing/scripts/delete.js'%}"></script>
{% endblock jscontent%}