{% extends 'journing/base.html'%}
{% load static %}

{% block headcontent%}
<link rel='stylesheet' href="{% static 'journing/styles/create_comment.css'%}">
{% endblock headcontent%}


{% block content%}
{% comment %} the overall style for all comment box for all categories. e.g. shop,sight,food {% endcomment %}
<div class='box'>

    <form method='POST'>
        {% csrf_token %}
    <div>
        <h1> Rate! </h1>
        {{form.rating}}

    </div>

    <div>
        <h1> Comment! </h1>
        {{form.comment}}
    </div>

    <input class='submit-button' value='Submit' type='submit'>
</form>

</div>


{% endblock content%}