{% extends 'journing/base.html' %} 
{%load static%}

{% block headcontent%}
<link rel="stylesheet" href="{% static 'journing/styles/detail.css' %}" />
<link rel="stylesheet" href="{% static 'journing/styles/page_nav.css' %}" />
{% endblock headcontent%}

{% block content%}
{% comment %} top search bar section {% endcomment %}
<nav class='main-nav'>

    <div class='nav-city'> <h1>{{city.pk}}</h1> </div>
    <div class='nav-innersearch'> 
        
        <input id="cat-search-bar-js" placeholder='Search attractions' type='text'/>
        <img src= "{% static 'journing/icons/mg.png' %}" onclick="search('cat-search-bar-js','{{redirect_url}}')"/>

    </div>
    <div class='nav-innernav'> 
        <button class='attraction-js'><a href="{% url 'journing:sights_list' city.slug %}" > Attractions </a></button>
        <button class='food-js'> <a href="{% url 'journing:foods_list' city.slug %}" >Food </a></button>
        <button class='shop-js'> <a href="{% url 'journing:shops_list' city.slug %}" >Shopping</a> </button>
        
    </div>

</nav>

{% comment %} the title floating above the actual contents {% endcomment %}
<div class='titles'>
    <div>
        Attractions
    </div>
    <div>
        Address
    </div>
    <div>
        Popularity
    </div>
    <div>
        Score
    </div>
</div>

<main> 
{% comment %} loop through every item in the queryset for the target category,e.g. shop,sight,food etc {% endcomment %}

    {% for item in items%}

{% comment %} the directory to search for image is changed according to the category {% endcomment %}

    <div class='individual-list'> 
        <div class='item-img-container'> 
            {% if current_page == 'sight'%}

            <a href="{% url 'journing:sights_info' item.id item.slug %}">
                <img src= " {% static '/sightimgs/'%}{{item.img_local}} ">
            </a>
            {% elif current_page == 'food'%}
            <a href="{% url 'journing:foods_info' item.id item.slug %}">
                <img src= " {% static '/foodimgs/'%}{{item.img_local}} ">
            </a>
            {% else %}
            <a href="{% url 'journing:shops_info' item.id item.slug %}">
                <img src= " {% static '/shopimgs/'%}{{item.img_local}} ">
            </a>
            {% endif %}
    </div>

{% comment %} pass the item.id and user.id to javascript to mark(star) them {% endcomment %}
    <div class='select-star-js' onclick="get_data('{{item.id}}','{{user.id}}')">
    {% include 'journing/star.html'%}
    </div>

    <div>
        <h1> {{item.name}} </h1>
    </div>


    <div>

        <h1> {{item.address}} </h1>

    </div>
    <div>
        
        <h1> {{item.popularity}} </h1>

    </div>
    <div>

        <h1> {{item.score}} </h1>
    </div>

</div>
{% endfor%}

{% comment %} the page nav bar {% endcomment %}
{% include 'journing/page_nav.html'%}
</main>
{%endblock content%}

{% block jscontent%}

{% comment %} the lit and unlit star picture {% endcomment %}
<script>

    let lit = "{% static 'journing/icons/selected-star.png' %}"
    let unlit = "{% static 'journing/icons/unselected-star.png' %}"

</script>

{% comment %} search for search bar, detail for setting the tab's focus color(title right side), star for collection {% endcomment %}
<script src="{% static 'journing/scripts/search.js'%}"></script>
<script src="{% static 'journing/scripts/detail.js'%}"></script>
<script src="{% static 'journing/scripts/star.js'%}"></script>

{% endblock jscontent%}
