{% extends 'journing/base.html'%}
{% load static%}

{% block headcontent%}
<link rel='stylesheet' href="{% static 'journing/styles/journal.css'%}">
{% endblock headcontent%}


{% block content%}

{% if not journals %}

<div class='no-journal'>

    <div class='book-icon-div'><img src="{% static 'journing/icons/book.png'%}"></div>
    <h1> No journal found... Create one now!</h1>
    <h4 class='mobile'> <i> Full functionality is currently only supported on desktop. </i> </h6>
    {% comment %} 9596e0f5-802c-4a10-96f7-ac34a21f3bf9 {% endcomment %}
    <h4> <i> Click <a href="{% url 'journing:edit_journal'%}c61d8d18-f642-4ecb-9eeb-ace66ca61fd7?date=2023-01-01"><u>here</u></a> to view sample planner.</i> </h6>
    <a href="{% url 'journing:new_journal'%}" style="text-decoration:none"> <div class='new-journal'> <h3> Create new Journal</h3></div></a>
</div>

{% else %}
<a class='create_journal' href="{% url 'journing:new_journal'%}">
    <h3><u>New Journal<u></h3>
</a>
<div class='all-journals'>

    {% for journal in journals%}

        <a href="{% url 'journing:edit_journal'%}{{journal.id}}?date={{journal.start_date|date:'Y-m-d'}}">
            <div class='indiv-journal'>

            <h4 class='created-on'><i>{{journal.created_on}}</i></h4>

            <div class='city-div'>
                <div class='city-img-div'>
                    <img src="{% static '/cityimgs/'%}{{journal.city.img_local}}">
                </div>

                <div class='city-name-div'>
                    <h2> {{journal.city}} </h2>
                </div>

            </div>

            <div class='journal-details'>
                {% if journal.title != ''%}
                <div class='title'> {{journal.title}} </div>
                {% else %}
                <div class='title'> Untitled </div>
                {% endif%}
                <div class='start-date'>
                    <h2>
                        {{journal.start_date|date:"Y-m-d"}}
                    </h2>
                </div>

                <div class='end-date'>
                    <h2>
                        {{journal.end_date|date:'Y-m-d'}}
                    </h2>

                </div>

            </div>


            </div>
        </a>

    {% endfor %}

</div>


{% endif %}

{% endblock content%}


{% block jscontent%}

<script src="{% static 'journing/scripts/journal.js'%}">
</script>
{% endblock jscontent%}
