{% extends 'journing/base.html'%}
{% load static%}

{% block headcontent%}
<link rel='stylesheet' href="{% static 'journing/styles/new_journal.css'%}">
{% endblock headcontent%}


{% block content%}

<div class='new-journal'>
    <form method='post'>
        {% csrf_token %}
        <h2> Destination : {{form.where_to}}</h2>
        <h2> Start : {{form.start_date}}</h2>
        <h2> End : {{form.end_date}}</h2>
        <br>
        {{form.non_field_errors}}
        <div class='submit-div'><input type='submit' value='Create new journal!'></div>

    </form>
</div>

{% endblock content%}

