/* navbar code */

@media (min-width:400px){
    .nav-city{
        margin-left: 50px;
        width: 100px;
    }
    .nav-city h1{
        font-size: 40px;
    }
    
    .nav-innersearch{
        margin-left:-30px;
    }
    
    .nav-innernav{
        width: 250px;
        padding-left: 50px;
    }
    .nav-innernav button{
        font-size: 15px;
    }
    .titles{
        padding-left: 250px;
        margin-top: 30px;
        font-size: 18px;
    }

    .titles div:nth-child(1){
        width: 100px;
        margin-left: 30px;
    }

    /*address*/
    .titles div:nth-child(2){
        width: 100px;
        margin-left: 100px;
    }
    /*popularity*/
    .titles div:nth-child(3){
        width: 100px;
        margin-left:-40px
        
    }
    /*score*/
    .titles div:nth-child(4){
        width: 100px;
        margin-left:-30px
    }

    .individual-list{
        font-size:15px;
        grid-template-columns: 1fr 100px 150px 350px 100px 100px;
        margin: 20px 20px;
    }

    .select-star-js{
        margin-top:-40px;
        margin-left:15px;
    }
}

@media (min-width:1500px){
    .nav-city{
        margin-left: 100px;
    }
    .nav-city h1{
        font-size: 50px;
    }
    .nav-innernav{
        width: 400px;
        padding-left: 0px;
    }
    .nav-innernav button{

        font-size: 20px;
    }
    .titles{
        padding-left: 550px;
        font-size: xx-large;
        margin-top: 100px;
    }
    /*star*/
    .titles div:nth-child(2){
        width: 450px;
        margin-left: 50px;
    }
    /*attractions*/
    .titles div:nth-child(3){
        width: 200px;
        margin-left: -190px;    
    }
    /*address*/
    .titles div:nth-child(4){
        width: 200px;
        margin-left: -150px; 
    }

    .individual-list{
        font-size: 12px;
        grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr;
        margin: 20px 100px;
    }
    /* pop */
    .individual-list div:nth-child(5){
        font-size: 20px;
    }
    /* score */
    .individual-list div:nth-child(6){
        font-size: 20px;
    }

    .select-star-js{
        margin-left:120px;
        margin-top:-40px;
    }
}

.main-nav{
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    align-items: center;
    width: 100%;
}

/* navbar left */
.nav-city h1{
    color: inherit;
}

/* navbar middle */
.nav-innersearch{
    display: inherit;
    grid-template-columns: 4fr 1fr;
    align-items: inherit;
}

.nav-innersearch input{
    color:white;
    height: 40px;
    border: 1px solid rgb(61, 60, 60);
    border-radius: 15px;
    padding-left: 20px;
    font-size: 20px;
    background-color: rgb(11,11,11);
}

.nav-innersearch input::placeholder{
    color: rgb(170, 166, 166);
    font-size: 20px;
    
}

.nav-innersearch img{
    margin-left: -50px;
    width: 15%; 
}

/* navbar right */
.nav-innernav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: -100px;
}

.nav-innernav button{
    background-color: gray;
    font-weight: 700;
    border: 1px solid white;
    padding: 5px 5px;
    margin-right: 2px;
    color: white;
}

.nav-innernav button:hover{
    background-color: rgb(18, 18, 18);
}

/* titles */
.titles{
    font-weight: 700;
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr 0.5fr;
    text-align: center;
}


/* main display */

.individual-list{
    display: grid;
    align-items: center;
    text-align: center;
    background-color: rgb(36, 36, 36);
    border-radius: 10px;
}

.individual-list:nth-child(12){
    margin-bottom: 120px;
    
}

.individual-list img{
    margin:20px;
    width: 100%;
    border-radius: 5px;
}
.select-star-js{
    width: 50px;
    height: 50px;
}
.select-star-js:hover{
    cursor: pointer;
}
