@media (min-width:400px){

    header,main{
        margin: 50px 30px;
        padding: 50px 30px;
    }

    .right{
        font-size: 14px;
        grid-template-rows:2fr 1fr 2fr 1fr 1fr 2fr;
    }

    .name{
        font-size: 15px;
        font-weight: 700;
    }
    .side-thumbnails{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .side-thumbnails div{
        height: 80px;    
        
    }
    .pop-score{
        font-size: 12px;
        width: 20px;
    }
    .score h4{
        margin-left:3px;
    }

    .info-title{
        font-size: 25px;
    }

    .info-desc{
        font-size: 22px;
    }

}
@media (min-width:1500px){
    header,main{
        margin: 50px 100px;
        padding: 50px 100px;
    }
    .right{
        font-size: 20px;
        grid-template-rows:1fr 50px 2fr 50px 1fr 1fr;    
    }

    .name{
        font-size: 40px;
        font-weight: 700;
    }
    .side-thumbnails{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .side-thumbnails div{
        height: 150px;
        width: 240px;     
    }

    .pop-score{
        font-size: 30px;
        width: 60px;
    }

    .info-title{
        font-size: larger;
    }

    .info-desc{
        font-size: large;
    }
    .score h4{
        margin-left:-10px;
    }
}

header, main{
    background-color: rgb(42, 42, 42);
    border-radius: 10px;
    position: relative;
}

header{
    display: grid;
    grid-template-columns: 5fr 2fr;

}

/* left side */
.left{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-right: 30px;
}

.main-thumbnail{
    width: 100%;
    height: 100%;
}

.main-thumbnail img{
    width: 100%;
    height: 100%;
}

.side-thumbnails div img{
    padding: 0px 10px; 
    width: 100%;
    height: 100%;
}
/* right side */
.right{
    display: grid;
    font-weight: 700;
}

.score, .address, .hours, .contacts,.pop {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center; 
} 
.address{
    margin-top: -30px;
}

.hours{
    margin-top: -50px;
}

.contacts{
    margin-top: -20px;
}

.right div div:nth-child(2){
    padding-left: 60px;
}

.pop-score{
    color: black;
    border: 2px solid gray;
    border-radius: 15px;
    padding: 10px 10px;
    background-color: white;
    text-align: center;
}

.select-star-js{
    width: 80px;
    position: absolute;
    right: 30px;
    top:35px
}

.select-star-js img{
    width: 100%;
}






