.page_nav{
    background-color: black;
    padding: 20px 0px;
    text-align: center;
    font-size: 35px;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.page{
    padding: 0px 10px;
    border-radius: 5px;
}

.page:hover{
    background-color: white;
    color:black
}

.currentpage{
    display: inline;
    background-color: white;
    color: black;
}