{% extends 'journing/base.html'%}
{% load static %}

{% block headcontent%}
<link rel="stylesheet" href="{% static 'journing/styles/comments.css'%}">
<link rel='stylesheet' href="{% static 'userdata/styles/profile.css'%}">
{% endblock headcontent%}

{% block content%}

<main class='all-stack'>
{% comment %} top stack {% endcomment %}
    <div class='top-stack'>
        <div class='profile'>

            <div class='profile-pic-container'>
                <img src="{{user.profile.profile_pic.url}}">
            </div>
            
            <div class='profile-shared'>
                <h1>Journal Shared</h1>
                <br>
                <h2>{{user.profile.shared}}</h2>
            </div>

            <div class='profile-followers'>
                <h1>Followers</h1>
                <br>
                <a href="{% url 'userdata:view_followers' user.id%}">
                    <h2>{{followers}}</h2>
                </a>
            </div>

            <div class='profile-following'>
                <h1>Following</h1>
                <br>
                <a href="{% url 'userdata:view_following' user.id%}">
                    <h2>{{following}}</h2>
                </a>
            </div>

            <button type='button' id='profile-edit'> Edit profile</button>
            <button type='button' id='profile-logout' > logout</button>
        
        </div> 
        <br>
        <div class= 'user edit-field'><h2> {{user.username}} </h2> </div>
        <div class='city edit-field'> 

            <h3>
            
                {% if user.profile.city %}
                {{user.profile.city}}
                {%else%}
                + Add your current city 
                {%endif%}

            </h3>
            
            </div>

        <div class='date edit-field'> <h3>Joined on {{user.date_joined |date:"SHORT_DATE_FORMAT" }}</h3></div>
        <div class='website edit-field'> 
            <h3>
                {% if user.profile.website%}
                {{user.profile.website}}
                {%else %}
                + Add a website
                {% endif %}

            </h3>
            </div>

        <div class='details edit-field'> <h3>{{user.profile.desc}}</h3> </div>
    </div>
{% comment %} mid stack {% endcomment %}
    <div class='mid-stack'>
        <div class='tab-js' id='activities' onclick= "highlight('activities')"> <h2> Activity feed </h2></div>
        <div class='tab-js' id='tips'onclick= "highlight('tips')"> <h2>Tips </h2> </div>
        <div class='tab-js' id='photos'onclick= "highlight('photos')"> <h2>Photos </h2></div>
        <div class='tab-js' id='reviews'onclick= "highlight('reviews')"> <h2>Reviews </h2></div>
        <div class='tab-js' id='badges'onclick= "highlight('badges')"> <h2>Badges </h2></div>
        <div class='tab-js' id='map'onclick= "highlight('map')"><h2>Travel map</h2></div>
    </div>

    <div class='bot-stack'>

        <div class='tab-detail-js' id='activities-detail'>
            {% for c in user.comment_set.all%}
{% comment %} comment {% endcomment %}
            <div class='comment'> 

                <div class='comment-user'>  
                        <img src="{{c.user.profile.profile_pic.url}}" >
                {{c.user.username}}
                </div>

                <div class='comment-rating'>

                <div><h1>{{c.rating}}</h1>/5</div>
                <div>{{c.comment}}</div>

            {% comment %} ensures only user who posted the comment can delete or edit the said comment {% endcomment %}
                {% if user == c.user%}
                <div class='comment-edit'>
                    <a href="{% url 'journing:sights_update' c.sight.pk c.sight.slug c.id %}"><img src="{% static 'journing/icons/edit.png'%}" ></a>
                </div>

                {%endif%}
                </div>


                <div class='comment-timestamp'>
            {% comment %} ensures only user who posted the comment can delete or edit the said comment {% endcomment %}
                    {% if user == c.user%}
                    <div id='pop-up-confirm-js'onclick="pop_up_confirmation('{{c.id}}','{{c.sight.pk}}', '{{c.sight.slug}}')"> <img src="{% static 'journing/icons/delete.webp'%}"> </div>
                    {%endif%}
                    <h4>{{c.created_on}}</h4>
                </div>

            </div>

            {% endfor %}
        </div>
    <div class='tab-detail-js' id='tips-detail'>
        <h1> Fill out your profile ! </h1>
        <h2> Add photos and info to your profile so people can find you easily and get to know you better !</h2>
    </div>
    </div>

</main>

{% endblock content%}

{% block jscontent%}
<script> 
    let user = {
        'username':"{{user}}",
        'id':'{{user.id}}'
    }
</script>
{% comment %} js to redirect after registraton and login {% endcomment %}
<script src="{% static 'userdata/scripts/profile.js'%}"></script>
<script src="{% static 'journing/scripts/delete.js'%}"></script>
{% endblock jscontent%}