.main-box{
    margin: auto;
    margin-top:50px;
    width: 500px;background-color: rgb(41, 41, 41);
    border-radius: 25px;
    text-align: center;
    display:flex;
    flex-direction: column;

}

.main-logo{
    padding-top:40px;
}

.main-logo img{
    width: 70%;
}

.main-logo h1{
    padding-top: 10px;
}

/* main form */
.main-form{
    display: grid;
    text-align: left;
    padding-left:50px;
    padding-right:50px;
}

/* sub button */
.sub-button{
    font-size: 25px;
    font-weight: 700;
    width: 200px;
    height: 50px;
    margin: auto;
    color: black;
    border: none;
    border-radius: 50px;
}

.sub-button:hover{
    cursor: pointer;
}

/* descs */
.descs{
    text-align: center;
    margin-top: 10px;
    display:grid;
    height: 180px;
    grid-template-rows: 30px 30px 30px 50px;
}

/* break line */
.descs hr{
    width: 90%;
    margin: auto;
    height: 1px;
    border: none;
    background-color: gray;
    margin-top:30px;
}

/* member tag*/
.descs h4{
    background-color: rgb(41, 41, 41);
    width: 30%;
    margin: auto;
    margin-top:-8px;
    font-size: 15px;
    color: rgb(141, 139, 139);
}

.descs a{
    width: 30%;
    margin: auto;
}

/* terms */
.terms{
    font-size: 15px;
    padding: 20px 50px 0px 50px;
}